body {
    background-color: #efefef;
}

.main {
    margin: 30px 50px 30px 50px;
    background-color: #ffffff;
}

.btn-publish {
    float: right;
    margin-bottom: 20px;
}

.media-object {
    width: 42px;
    height: 42px;
}

.comment-media .media-heading{
    padding-top: 13px;
}

.comment-media{
    margin-bottom: 10px;
}

.comment-area{
    margin-bottom: 55px;
}

.comment-area .btn-comment{
    margin-top: 10px;
    float: right;
}

.media-heading a:hover {
    color: #eea236;
    text-decoration: none;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 30px;
}

.community-menu {
    font-size: 13px;
    color: #999999;
    text-decoration: none;
}

.community-menu:hover {
    color: #eea236;
    text-decoration: none;
}

.question {
    margin-top: 30px;
}

.jumbotron {
    margin: 50px;
}