body{
    background-color: #efefef;
}
.main{
    margin: 30px 50px 30px 50px;
    background-color: #ffffff;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}
.media-object{
    width: 42px;
    height: 42px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}