body {
    background-color: #efefef;
}

.box {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border-radius: 5px;
    /*2fa9ff*/
}

.main {
    margin: 30px auto;
    width: 65%;
}

.btn-publish {
    float: right;
    margin-bottom: 20px;
}

.top-info {
    padding: 10px 15px;
}

.media-object {
    width: 42px;
    height: 42px;
}

.media-text{
    display: inline-block;
    width: 15%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment-media .media-heading {
    padding-top: 0px;
}

.comment-media {
    margin-bottom: 10px;
}

.comment-part {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.comment-area {
    margin-bottom: 10px;
}

.comment-area .btn-comment {
    margin-top: 10px;
    float: right;
}

.comment-count {
    margin-top: 15px;
    padding-top: 20px;
}

.comment-sp {
    margin-top: 0px;
}

.comment-content {
    line-height: 23px;
}

.comment-menu {
    color: #999999;
    margin-top: 8px;
}

.comment-menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.comment-menu .active {
    color: #eea236;
}

.comment-menu .icon:hover {
    color: #eea236;
}

.comment-menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}

.comment-menu .comment-icon:hover {
    color: #eea236;
}

.media-heading a:hover {
    color: #eea236;
    text-decoration: none;
}

.comment-input {
    margin-top: 15px;
    padding-top: 35px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 30px;
}

.community-menu {
    font-size: 13px;
    color: #999999;
    margin-bottom: 15px;
    text-decoration: none;
}

.sub-comments {
    margin-top: 15px;
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 5px;
    margin-bottom: 12px;
}
.sub-comments .sub-btn{
    margin: 10px 0;
}

.community-menu:hover {
    color: #eea236;
    text-decoration: none;
}

.question-promoter {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.question-AD{
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.question-operate{
    margin-bottom: 5px;
    margin-top: -10px;
}

.question-tag{
    margin-right: 5px;
}

.quesrion-related{
    line-height: 20px;
    font-size: 14px;
    padding-left: 0px;
    list-style: none;
}

.quesrion-related a:hover{
    color: #eea236;
    text-decoration: none;
}

.jumbotron {
    margin: 50px;
}

.related-bottom{
    margin-bottom: 15px;
    margin-top: 0px;
}

.right-words{
    text-align:center;
}

.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info{
    margin: 5px 5px;
    display: inline-block;
    white-space: normal;
}